/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Adapted from Eric Meyer, Going to Print (http://alistapart.com/article/goingtoprint) */
@media print {
  /* line 9, sass/print.scss */
  body {
    background: white;
    font-size: 12pt;
  }

  /* line 13, sass/print.scss */
  nav {
    display: none;
  }

  /* line 17, sass/print.scss */
  #body {
    width: auto;
    margin: 0 5%;
    padding: 0;
    border: 0;
    float: none !important;
    color: black;
    background: transparent;
  }

  /* line 27, sass/print.scss */
  a:link, a:visited {
    color: #520;
    background: transparent;
    font-weight: bold;
    text-decoration: underline;
  }

  /* line 34, sass/print.scss */
  #body a:link:after,
  #body a:visited:after {
    content: " (" attr(href) ") ";
    font-size: 90%;
  }
}
