/* line 5, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, .tocTitle, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, table tr.heading, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, table tr.heading, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../vendor/bundle/ruby/2.1.0/gems/susy-2.2.5/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*  Colors
================== */
/* Fonts
================== */
/* Rhythm
=================== */
/* Mixins
==================== */
/* line 50, sass/_base.scss */
.roundedborder, input, select, textarea {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #D1D3D5;
}

/* line 55, sass/_base.scss */
.button, .action,
.toggleExtras-inactive,
.toggleExtras-active, a.file, #setup .options {
  padding: 2px 4px;
  background-color: #D1D3D5;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #87908F;
  margin-right: 1px;
}

/* line 64, sass/_base.scss */
.adminMenu ul, .pseudoMenu ul, #sidebarUser ul, table.listing ul {
  padding: 0;
  margin: .5em 0;
}
/* line 67, sass/_base.scss */
.adminMenu ul li, .pseudoMenu ul li, #sidebarUser ul li, table.listing ul li {
  list-style-type: none;
  padding: 10px 0 5px 5px;
  border-bottom: 1px solid #D1D3D5;
  display: block;
}
/* line 74, sass/_base.scss */
.adminMenu ul li a:before, .pseudoMenu ul li a:before, #sidebarUser ul li a:before, table.listing ul li a:before {
  content: '\00BB';
  padding-right: 5px;
}

@viewport {
  width: device-width;
}
/* 

Structure 
============
-- General HTML Elements
---- Headings
---- Links
---- Form Elements
-- Global Classes
-- Navigation
-- Header
-- Sidebars
-- Main
-- Footer
-- Issues
-- Articles

*/
/* General HTML Elements 
============================= */
/* apply a natural box layout model to all elements, but allowing components to change */
/* line 30, sass/screen.scss */
html {
  box-sizing: content-box;
}
/* line 106, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 35, sass/screen.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 39, sass/screen.scss */
body {
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
/* line 43, sass/screen.scss */
body figure {
  display: inline-block;
}

/* line 48, sass/screen.scss */
em {
  font-style: italic;
}

/* line 52, sass/screen.scss */
strong {
  font-weight: 700;
}

/* line 56, sass/screen.scss */
blockquote {
  padding: 1em 1em 1em 2em;
}

/* line 60, sass/screen.scss */
ul {
  padding-left: 1em;
  list-style-type: disc;
}

/* line 64, sass/screen.scss */
ol {
  list-style-type: decimal;
  list-style-position: inside;
}
/* line 67, sass/screen.scss */
ol li {
  padding: 5px 0;
}

/* line 71, sass/screen.scss */
#container {
  background-color: white;
}

/* line 74, sass/screen.scss */
#body {
  overflow: auto;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  padding: 0 10px;
}
/* line 12, ../vendor/bundle/ruby/2.1.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
#body:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 80, sass/screen.scss */
#body p {
  padding: .5em 0;
}

/* Skip to Content 
from http://codepen.io/joe-watkins/pen/rjhiK
*/
/* line 89, sass/screen.scss */
#skip-to-content {
  padding: 1em;
  position: absolute;
  top: -40px;
  left: 1em;
  z-index: 1000;
  color: white;
}

/* line 98, sass/screen.scss */
#skip-to-content:focus {
  position: absolute;
  top: 0;
  background: #4593ff;
}

/* Headings */
/* line 106, sass/screen.scss */
h1, h2, h3, h4, .tocTitle, h5, h6 {
  font-family: Lato, Trabuchet, sans-serif;
}

/* line 109, sass/screen.scss */
h1 {
  font-weight: 700;
  font-size: 2.625em;
  line-height: 1.14286em;
}

/* line 113, sass/screen.scss */
h2, h3, h4, .tocTitle, h5, h6 {
  font-family: Lato, Trebuchet, sans-serif;
  line-height: 1.8em;
}

/* line 117, sass/screen.scss */
h2 {
  font-size: 2em;
  font-weight: 700;
  padding: .5em 0;
}

/* line 122, sass/screen.scss */
h3 {
  font-size: 1.75em;
  font-weight: 700;
}

/* line 126, sass/screen.scss */
h4, .tocTitle {
  font-size: 1.5em;
  font-weight: 400;
}

/* Links */
/* line 133, sass/screen.scss */
a {
  color: #A621A6;
  text-decoration: none;
}
/* line 18, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #2d2d8c;
}
/* line 21, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #A621A6;
}
/* line 24, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #3939B3;
}
/* line 27, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #ffd24d;
}
/* line 4, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_hover-link.scss */
a:hover, a:focus {
  text-decoration: underline;
}

/* Forms */
/* line 140, sass/screen.scss */
input, select, textarea {
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 0.875em;
  line-height: 1.71429em;
  margin: .25em 0;
}

/* line 148, sass/screen.scss */
.label {
  width: auto;
}

/* line 152, sass/screen.scss */
form {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}

/* line 156, sass/screen.scss */
input {
  padding: 3px;
}

/* Tables */
/* line 164, sass/screen.scss */
table {
  width: 100%;
}
/* line 170, sass/screen.scss */
table th, table tr.heading {
  font-family: Lato;
  font-size: 1.125em;
  line-height: 1.33333em;
  background-color: #D1D3D5;
  border-bottom: 2px solid #D1D3D5;
  text-transform: capitalize;
  padding: .5em .25em;
}
/* line 178, sass/screen.scss */
table tr {
  margin: .5em 0;
}
/* line 184, sass/screen.scss */
table td {
  padding: .5em .25em;
  vertical-align: top;
}

/* Global Classes 
============================= */
/* line 193, sass/screen.scss */
.menu {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 198, sass/screen.scss */
.menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  border-right: 2px solid #D1D3D5;
}
/* line 49, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.menu li:first-child {
  padding-left: 0;
}
/* line 50, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.menu li:last-child {
  padding-right: 0;
}
/* line 52, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.menu li.last {
  padding-right: 0;
}
/* line 202, sass/screen.scss */
.menu li:last-child {
  border-right: none;
}

/* line 207, sass/screen.scss */
.callout {
  font-size: 1.125em;
  line-height: 1.33333em;
  font-weight: 700;
}

/* line 212, sass/screen.scss */
.block {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  height: 100%;
}

/* line 223, sass/screen.scss */
.largeButton {
  padding: 1em;
  background-color: #FFCC33;
}
/* line 226, sass/screen.scss */
.largeButton a {
  color: white !important;
}

/* line 228, sass/screen.scss */
.headseparator {
  display: none;
}

/* line 232, sass/screen.scss */
.TOC {
  border: 1px solid #D1D3D5;
  padding: 5px;
}
/* line 235, sass/screen.scss */
.TOC:nth-child(odd) {
  background-color: #ececed;
}

/* line 239, sass/screen.scss */
.pseudoHeading {
  font-size: 1.25em;
  line-height: 1.2em;
  padding: .5em 0 .25em;
}

/* line 246, sass/screen.scss */
.pseudoMenu a, #sidebarUser a {
  display: block;
}

/* line 248, sass/screen.scss */
.label {
  font-weight: 700;
}

/* line 251, sass/screen.scss */
.separator {
  display: none;
}

/* line 254, sass/screen.scss */
.sort {
  border: 1px solid #D1D3D5;
}
/* line 256, sass/screen.scss */
.sort form {
  padding: .25em;
  margin: .25em 0;
}

/* line 258, sass/screen.scss */
.heading, #setup .pkp_controllers_grid table th, #setup .pkp_controllers_grid table tr.heading {
  font-family: Lato;
  font-size: 1.125em;
  line-height: 1.33333em;
  background-color: #dee0e1;
  padding: .25em;
}
/* line 263, sass/screen.scss */
.heading td:last-child, #setup .pkp_controllers_grid table th td:last-child, #setup .pkp_controllers_grid table tr.heading td:last-child {
  text-align: center;
}

/* Navigation
============================= */
/* line 269, sass/screen.scss */
nav {
  width: 100%;
  background-color: #272822;
  overflow: auto;
  padding: .5em 0;
}

/* line 275, sass/screen.scss */
#mobileNav {
  display: none;
}

/* line 278, sass/screen.scss */
#navbar {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  display: block;
}
/* line 12, ../vendor/bundle/ruby/2.1.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
#navbar:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 280, sass/screen.scss */
#navbar #sidebar-open-btn {
  display: none;
}

/* line 286, sass/screen.scss */
ul.navMenu {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
}
/* line 289, sass/screen.scss */
ul.navMenu li {
  border-right: 3px solid black;
}
/* line 291, sass/screen.scss */
ul.navMenu li:last-child {
  border: none;
}
/* line 294, sass/screen.scss */
ul.navMenu li a {
  color: white;
  text-decoration: none;
  font-family: Lato, sans-serif;
  font-weight: 300;
  letter-spacing: .05em;
}
/* line 18, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
ul.navMenu li a:visited {
  color: white;
}
/* line 21, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
ul.navMenu li a:focus {
  color: #3939B3;
}
/* line 24, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
ul.navMenu li a:hover {
  color: #3939B3;
}
/* line 27, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
ul.navMenu li a:active {
  color: #2d2d8c;
}
/* line 4, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_hover-link.scss */
ul.navMenu li a:hover, ul.navMenu li a:focus {
  text-decoration: underline;
}

/* line 304, sass/screen.scss */
#searchbar {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  text-align: right;
}
/* line 307, sass/screen.scss */
#searchbar form {
  margin: 0;
}
/* line 309, sass/screen.scss */
#searchbar form input {
  padding: 2px 6px;
  margin: 0;
}

/* line 316, sass/screen.scss */
#breadcrumb {
  font-size: 0.875em;
  line-height: 1.71429em;
  padding: .5em 0;
  border-bottom: 3px double #D1D3D5;
  border-top: 3px double #D1D3D5;
}

/* Header
============================= */
/* line 325, sass/screen.scss */
#header {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  min-height: 150px;
  text-align: center;
}
/* line 329, sass/screen.scss */
#header h1, #header img {
  vertical-align: middle;
  display: inline-block;
}

/* line 334, sass/screen.scss */
#headerTitle {
  padding: 1em;
}
/* line 336, sass/screen.scss */
#headerTitle figure {
  max-width: 1080px;
  margin: 1.69492%;
}
/* line 339, sass/screen.scss */
#headerTitle figure img {
  width: 100%;
  height: auto;
}

/* Sidebars 
============================= */
/* line 348, sass/screen.scss */
#sidebar {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  overflow: auto;
  height: 100%;
}
/* line 353, sass/screen.scss */
#sidebar #submit-button {
  margin-bottom: 1.5em;
}
/* line 356, sass/screen.scss */
#sidebar form {
  margin: 0;
}

/* line 361, sass/screen.scss */
#leftSidebar {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
}

/* line 366, sass/screen.scss */
#rightSidebar {
  width: 100%;
  float: right;
  margin-left: 1.69492%;
}

/* line 372, sass/screen.scss */
.blockTitle {
  font-family: Lato, Trabuchet, sans-serif;
  font-size: 1.25em;
  line-height: 1.2em;
  display: block;
  padding: 5px;
  background-color: #ececed;
}

/* line 383, sass/screen.scss */
#sidebarFontSize {
  display: none;
}

/* Main 
============================ */
/* line 389, sass/screen.scss */
#main {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  padding-right: 1em;
}
/* line 393, sass/screen.scss */
#main img {
  max-width: 600px;
  height: auto;
}

/* Footer 
============================ */
/* line 402, sass/screen.scss */
#pageFooter {
  clear: both;
  text-align: center;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 1.4375em;
  background-color: #dee0e1;
}
/* line 408, sass/screen.scss */
#pageFooter #social {
  font-size: 2.25em;
  line-height: 1.33333em;
  display: inline-block;
  line-height: 1em;
}
/* line 412, sass/screen.scss */
#pageFooter #social ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 416, sass/screen.scss */
#pageFooter #social li {
  padding: 0;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 49, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
#pageFooter #social li:first-child {
  padding-left: 0;
}
/* line 50, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
#pageFooter #social li:last-child {
  padding-right: 0;
}
/* line 52, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
#pageFooter #social li.last {
  padding-right: 0;
}
/* line 420, sass/screen.scss */
#pageFooter #social li i {
  padding-right: 5px;
}

/* line 426, sass/screen.scss */
#standardFooter {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-family: Lato;
  font-weight: 400;
  font-size: .9em;
}
/* line 431, sass/screen.scss */
#standardFooter a img {
  max-width: 350px;
}

/* Search 
============================ */
/* line 438, sass/screen.scss */
#results table {
  border: 1px solid #87908F;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 16, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
#results table th, #results table tr.heading, #results table td {
  border-right: 1px solid #D1D3D5;
  border-bottom: 1px solid #D1D3D5;
  border-left-width: 0;
  border-top-width: 0;
}
/* line 22, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
#results table th:last-child, #results table tr.heading:last-child, #results table td:last-child {
  border-right-width: 0;
}
/* line 28, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
#results table th.last, #results table tr.last.heading, #results table td.last {
  border-right-width: 0;
}
/* line 33, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
#results table tbody tr:last-child th, #results table tbody tr:last-child tr.heading, #results table tbody tr:last-child td, #results table tfoot tr:last-child th, #results table tfoot tr:last-child tr.heading, #results table tfoot tr:last-child td {
  border-bottom-width: 0;
}
/* line 37, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
#results table tbody tr.last th, #results table tbody tr.last tr.heading, #results table tbody tr.last td, #results table tfoot tr.last th, #results table tfoot tr.last tr.heading, #results table tfoot tr.last td {
  border-bottom-width: 0;
}
/* line 6, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
#results table thead th, #results table thead tr.heading {
  border-bottom: 1px solid #87908F;
}
/* line 9, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
#results table tfoot th, #results table tfoot tr.heading, #results table tfoot td {
  border-top: 1px solid #87908F;
}
/* line 12, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
#results table th:first-child, #results table tr.heading:first-child {
  border-right: 1px solid #87908F;
}

/* Issues
============================ */
/* Articles 
============================ */
/* line 457, sass/screen.scss */
#articleTitle h3 {
  background-color: initial;
}

/* Admin Pages 
============================ */
/* line 464, sass/screen.scss */
.sectionBlock {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}

/* line 468, sass/screen.scss */
.block h3 {
  background-color: #ececed;
  padding-left: 5px;
}

/* line 473, sass/screen.scss */
table.info {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 2, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
table.info th, table.info tr.heading {
  text-align: center;
  font-weight: bold;
}
/* line 5, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
table.info td,
table.info th,
table.info tr.heading {
  padding: 2px;
}
/* line 8, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
table.info td.numeric,
table.info th.numeric,
table.info tr.numeric.heading {
  text-align: right;
}
/* line 476, sass/screen.scss */
table.info .tableHeading {
  font-family: Lato;
  font-size: 1.125em;
  line-height: 1.33333em;
  background-color: #dee0e1;
}
/* line 481, sass/screen.scss */
table.info a {
  display: inline-block;
}
/* line 484, sass/screen.scss */
table.info tr {
  border-bottom: 1px solid #D1D3D5;
}
/* line 487, sass/screen.scss */
table.info tr:last-child {
  border-bottom: none;
}
/* line 491, sass/screen.scss */
table.info td:first-child {
  text-align: left;
}
/* line 494, sass/screen.scss */
table.info td {
  text-align: center;
}

/* line 501, sass/screen.scss */
table.listing .heading a, #setup .pkp_controllers_grid table.listing th a, #setup .pkp_controllers_grid table.listing tr.heading a {
  color: #000;
}
/* line 502, sass/screen.scss */
table.listing tr {
  border-bottom: 1px solid #D1D3D5;
}
/* line 504, sass/screen.scss */
table.listing tr:last-child {
  border-bottom: none;
}
/* line 508, sass/screen.scss */
table.listing td {
  text-align: left;
}

/* line 511, sass/screen.scss */
table.settings {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  border: 1px solid #D1D3D5;
}
/* line 6, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
table.settings thead th, table.settings thead tr.heading {
  border-bottom: 1px solid #D1D3D5;
}
/* line 9, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
table.settings tfoot th, table.settings tfoot tr.heading, table.settings tfoot td {
  border-top: 1px solid #D1D3D5;
}
/* line 12, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
table.settings th:first-child, table.settings tr.heading:first-child {
  border-right: 1px solid #D1D3D5;
}
/* line 515, sass/screen.scss */
table.settings td.label {
  vertical-align: middle;
}

/* line 521, sass/screen.scss */
table.email tr:nth-child(odd) {
  background-color: #e6e7e8;
}

/* line 525, sass/screen.scss */
#profile table tr {
  border-bottom: 1px solid #D1D3D5;
}

/* line 530, sass/screen.scss */
#systemConfiguration h4, #systemConfiguration .tocTitle {
  text-transform: capitalize;
  margin-top: 1em;
  padding: .25em;
  background-color: #ececed;
}
/* line 536, sass/screen.scss */
#systemConfiguration table tr {
  border-bottom: 1px solid #D1D3D5;
}

/* line 540, sass/screen.scss */
td > table {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 544, sass/screen.scss */
.highlightReviewerNotNotified {
  background-color: #D4F631;
}
/* line 544, sass/screen.scss */
.highlightReviewerNotNotified:before {
  content: "\00b9";
  padding-right: 10px;
}

/* line 545, sass/screen.scss */
.highlightNoDecision {
  background-color: #3939B3;
  color: white;
}
/* line 545, sass/screen.scss */
.highlightNoDecision:before {
  content: "\00b2";
  padding-right: 10px;
}

/* line 546, sass/screen.scss */
.highlightReviewerConfirmationOverdue, .highlightCopyediting {
  background-color: #9090dc;
}
/* line 546, sass/screen.scss */
.highlightReviewerConfirmationOverdue:before, .highlightCopyediting:before {
  content: "\2020";
  padding-right: 10px;
}

/* line 547, sass/screen.scss */
.highlightRevisedCopyUploaded, .highlightLayoutEditing {
  background-color: #bb25bb;
}
/* line 547, sass/screen.scss */
.highlightRevisedCopyUploaded:before, .highlightLayoutEditing:before {
  content: "\2666";
  padding-right: 10px;
}

/* line 548, sass/screen.scss */
.highlightReviewerCompletionOverdue, .higlightProofreading {
  background-color: #FFCC33;
}
/* line 548, sass/screen.scss */
.highlightReviewerCompletionOverdue:before, .higlightProofreading:before {
  content: "\25CA";
  padding-right: 10px;
}

/* line 551, sass/screen.scss */
#notes ul {
  padding: 0;
}
/* line 555, sass/screen.scss */
#notes ul li {
  padding: .5em;
  list-style-type: none;
}

/* line 561, sass/screen.scss */
span.instruct {
  display: block;
  margin: .5em 0;
}

/* line 566, sass/screen.scss */
#assignBlocksToSidebars {
  border: 1px solid #D1D3D5;
}
/* line 569, sass/screen.scss */
#assignBlocksToSidebars .heading, #assignBlocksToSidebars #setup .pkp_controllers_grid table th, #setup .pkp_controllers_grid table #assignBlocksToSidebars th, #assignBlocksToSidebars #setup .pkp_controllers_grid table tr.heading, #setup .pkp_controllers_grid table #assignBlocksToSidebars tr.heading {
  text-align: center;
  border: 1px solid #87908F;
}
/* line 573, sass/screen.scss */
#assignBlocksToSidebars input {
  padding: 2px 0;
}
/* line 577, sass/screen.scss */
#assignBlocksToSidebars td.centerButton {
  vertical-align: middle !important;
}

/* line 587, sass/screen.scss */
#setup .pkp_controllers_grid table {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  border: 1px solid #87908F;
}
/* line 16, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
#setup .pkp_controllers_grid table th, #setup .pkp_controllers_grid table tr.heading, #setup .pkp_controllers_grid table td {
  border-right: 1px solid #D1D3D5;
  border-bottom: 1px solid #D1D3D5;
  border-left-width: 0;
  border-top-width: 0;
}
/* line 22, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
#setup .pkp_controllers_grid table th:last-child, #setup .pkp_controllers_grid table tr.heading:last-child, #setup .pkp_controllers_grid table td:last-child {
  border-right-width: 0;
}
/* line 28, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
#setup .pkp_controllers_grid table th.last, #setup .pkp_controllers_grid table tr.last.heading, #setup .pkp_controllers_grid table td.last {
  border-right-width: 0;
}
/* line 33, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
#setup .pkp_controllers_grid table tbody tr:last-child th, #setup .pkp_controllers_grid table tbody tr:last-child tr.heading, #setup .pkp_controllers_grid table tbody tr:last-child td, #setup .pkp_controllers_grid table tfoot tr:last-child th, #setup .pkp_controllers_grid table tfoot tr:last-child tr.heading, #setup .pkp_controllers_grid table tfoot tr:last-child td {
  border-bottom-width: 0;
}
/* line 37, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
#setup .pkp_controllers_grid table tbody tr.last th, #setup .pkp_controllers_grid table tbody tr.last tr.heading, #setup .pkp_controllers_grid table tbody tr.last td, #setup .pkp_controllers_grid table tfoot tr.last th, #setup .pkp_controllers_grid table tfoot tr.last tr.heading, #setup .pkp_controllers_grid table tfoot tr.last td {
  border-bottom-width: 0;
}
/* line 6, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
#setup .pkp_controllers_grid table thead th, #setup .pkp_controllers_grid table thead tr.heading {
  border-bottom: 1px solid #87908F;
}
/* line 9, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
#setup .pkp_controllers_grid table tfoot th, #setup .pkp_controllers_grid table tfoot tr.heading, #setup .pkp_controllers_grid table tfoot td {
  border-top: 1px solid #87908F;
}
/* line 12, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
#setup .pkp_controllers_grid table th:first-child, #setup .pkp_controllers_grid table tr.heading:first-child {
  border-right: 1px solid #87908F;
}

/* Author Submission Pages */
/* line 601, sass/screen.scss */
.steplist {
  padding: 0;
}
/* line 604, sass/screen.scss */
.steplist li {
  list-style-type: none;
}

/* line 609, sass/screen.scss */
.pseudoMenu .current, #sidebarUser .current {
  background-color: #D1D3D5;
}

/* Plugin Management */
/* line 615, sass/screen.scss */
#plugins a.action {
  display: inline-block;
}
/* line 615, sass/screen.scss */
#plugins a.action:before {
  content: initial;
}

/* PopUp Windows 
============================ */
/* line 621, sass/screen.scss */
.popup #header {
  margin-top: 1em;
  min-height: initial;
}
/* line 625, sass/screen.scss */
.popup #body {
  width: 100%;
  padding: 2em 3em;
}

/* Mobile 
============================ */
@media screen and (max-width: 1060px) {
  /* Changes:
  - Collapse Top Menu
  */
  /* line 5, sass/_screen_max1060.scss */
  #fullNav {
    display: none;
  }

  /* line 8, sass/_screen_max1060.scss */
  #mobileNav {
    display: block;
    /*
    Top black bar that holds the toggle button
    */
  }
  /* line 10, sass/_screen_max1060.scss */
  #mobileNav .navicon {
    display: none;
  }
  /* line 17, sass/_screen_max1060.scss */
  #mobileNav a.navicon {
    display: inline-block;
    float: left;
    height: 6px;
    width: 34px;
    margin: 5px 30px;
    border-top: 14px double #FFF;
    border-bottom: 2px solid #FFF;
    font-size: 0;
    text-align: right;
  }
  /* line 29, sass/_screen_max1060.scss */
  #mobileNav .menu {
    display: none;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 33, sass/_screen_max1060.scss */
  #mobileNav .menu li {
    clear: both;
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #87908F;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 2px 0;
    padding: 6px 0 6px 8px;
  }
  /* line 44, sass/_screen_max1060.scss */
  #mobileNav .menu li:last-child {
    border: none;
  }
  /* line 48, sass/_screen_max1060.scss */
  #mobileNav .menu li a {
    display: block;
  }
  /* line 52, sass/_screen_max1060.scss */
  #mobileNav .menu li #searchbar {
    display: block;
    width: 100%;
    float: left;
    text-align: center;
  }

  /* line 63, sass/_screen_max1060.scss */
  #header {
    margin-top: 50px;
  }

  /* line 68, sass/_screen_max1060.scss */
  #body {
    padding: 0 1%;
  }

  /* line 72, sass/_screen_max1060.scss */
  #main img {
    max-width: 350px;
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  /* Changes for Mobile:
  - Collapse sidebar using javascript
  - Main div spans full width
  */
  /* line 9, sass/_screen_max600.scss */
  #main {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
  }

  /* line 14, sass/_screen_max600.scss */
  #sidebar {
    display: none;
  }
}
