html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, .tocTitle, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, table tr.heading, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, table tr.heading, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*  Colors
================== */
/* Fonts
================== */
/* Rhythm
=================== */
/* Mixins
==================== */
.roundedborder, input, select, textarea, a.file {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #07355E;
}

.button, .action,
.toggleExtras-inactive,
.toggleExtras-active, #setup .options {
  padding: 2px 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #07355E;
  background-color: #266BA8;
  font-weight: 300;
  margin-right: 1px;
}
.button:hover, .action:hover,
.toggleExtras-inactive:hover,
.toggleExtras-active:hover, #setup .options:hover, .button:focus, .action:focus,
.toggleExtras-inactive:focus,
.toggleExtras-active:focus, #setup .options:focus {
  background-color: #3185d0;
}

.adminMenu ul, .pseudoMenu ul, #sidebar .block ul, #sidebarUser ul, table.listing ul {
  padding: 0;
  margin: .5em 0;
}
.adminMenu ul li, .pseudoMenu ul li, #sidebar .block ul li, #sidebarUser ul li, table.listing ul li {
  list-style-type: none;
  padding: 10px 0 5px 5px;
  border-bottom: 1px solid #D1D3D5;
  display: block;
}
.adminMenu ul li a:before, .pseudoMenu ul li a:before, #sidebar .block ul li a:before, #sidebarUser ul li a:before, table.listing ul li a:before {
  content: '\00BB';
  padding-right: 5px;
}

@viewport {
  width: device-width;
}
/* 

Structure 
============
-- General HTML Elements
---- Headings
---- Links
---- Form Elements
-- Global Classes
-- Navigation
-- Header
-- Sidebars
-- Main
-- Footer
-- Issues
-- Articles
-- Popups

*/
/* General HTML Elements 
============================= */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: content-box;
}
html html {
  font-size: 100%;
  line-height: 1.5em;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #dee0e1;
}
body figure {
  display: inline-block;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

blockquote {
  padding: 1em 1em 1em 2em;
}

ul {
  padding-left: 2em;
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}
ol li {
  padding: 5px 0;
}

#container {
  background-color: white;
  overflow: auto;
}

#body {
  overflow: auto;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  padding: 0 10px;
}
#body:after {
  content: " ";
  display: block;
  clear: both;
}
#body p {
  padding: .5em 0;
}

/* Skip to Content 
from http://codepen.io/joe-watkins/pen/rjhiK
*/
#skip-to-content {
  padding: 1em;
  position: absolute;
  top: -40px;
  left: 1em;
  z-index: 1000;
  color: white;
}

#skip-to-content:focus {
  position: absolute;
  top: 0;
  background: #4593ff;
}

/* Headings */
h1, h2, h3, h4, h5, .tocTitle, h6 {
  font-family: Lato, Trabuchet, sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 2.625em;
  line-height: 1.14286em;
}

h2, h3, h4, h5, .tocTitle, h6 {
  font-family: Lato, Trebuchet, sans-serif;
  line-height: 1.8em;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  padding: .5em 0;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
  padding-left: 5px;
  background-color: #ececed;
  margin-top: 1em;
}

h4 {
  font-size: 1.5em;
  font-weight: 400;
  margin-top: .5em;
}

h5, .tocTitle {
  font-size: 1.25em;
}

/* Links */
a {
  text-decoration: none;
  color: #0e6bbd;
}
a:hover, a:focus {
  text-decoration: underline;
}
a:visited {
  color: #266BA8;
}
a:focus {
  color: #07355E;
}
a:hover {
  color: #1EB568;
}
a:active {
  color: #primary;
}

nav a {
  color: white;
}
nav a:visited {
  color: white;
}
nav a:focus {
  color: #1EB568;
}
nav a:hover {
  color: #1EB568;
}
nav a:active {
  color: #266BA8;
}

#pageFooter a {
  color: #1EB568;
}
#pageFooter a:visited {
  color: #17894f;
}
#pageFooter a:focus {
  color: #266BA8;
}
#pageFooter a:hover {
  color: #266BA8;
}
#pageFooter a:active {
  color: #006633;
}

a.action, .button, .action,
.toggleExtras-inactive,
.toggleExtras-active, #setup .options, .options a {
  color: white;
}
a.action:visited, .button:visited, .action:visited,
.toggleExtras-inactive:visited,
.toggleExtras-active:visited, #setup .options:visited, .options a:visited {
  color: white;
}
a.action:focus, .button:focus, .action:focus,
.toggleExtras-inactive:focus,
.toggleExtras-active:focus, #setup .options:focus, .options a:focus {
  color: white;
}
a.action:hover, .button:hover, .action:hover,
.toggleExtras-inactive:hover,
.toggleExtras-active:hover, #setup .options:hover, .options a:hover {
  color: white;
}
a.action:active, .button:active, .action:active,
.toggleExtras-inactive:active,
.toggleExtras-active:active, #setup .options:active, .options a:active {
  color: #FF6C3E;
}

/* Forms */
input, select, textarea {
  font-family: "PT Sans", Helvetica, sans-serif;
  margin: 0 .05em 0 0;
  font-size: 1em;
  line-height: 1.5em;
}

.label {
  width: auto;
}

form {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}

form.pkp_form {
  margin: initial;
}

input {
  padding: 2px;
}

/* Tables */
table {
  width: 100%;
  margin: 1em 0;
}
table th, table tr.heading {
  font-family: Lato;
  font-size: 1.125em;
  line-height: 1.33333em;
  background-color: #D1D3D5;
  border-bottom: 2px solid #D1D3D5;
  text-transform: capitalize;
  padding: .5em .25em;
}
table tr {
  margin: .5em 0;
}
table td {
  padding: .5em .25em;
  vertical-align: top;
}

.table-borders tr {
  border-bottom: 1px solid #D1D3D5;
}

/* Global Classes 
============================= */
.menu {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
.menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  border-right: 2px solid #D1D3D5;
}
.menu li:first-child {
  padding-left: 0;
}
.menu li:last-child {
  padding-right: 0;
}
.menu li.last {
  padding-right: 0;
}
.menu li:last-child {
  border-right: none;
}

.callout {
  font-size: 1.125em;
  line-height: 1.33333em;
  font-weight: 700;
}

.block {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  height: 100%;
  clear: both;
}

.inline-block {
  display: inline-block;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}

.largeButton a {
  color: white !important;
  display: block;
  padding: 1em;
  background-color: #07355E;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
}
.largeButton a:hover, .largeButton a:focus {
  background-color: #266BA8;
}

.headseparator {
  display: none;
}

.TOC {
  border: 1px solid #D1D3D5;
  padding: 5px;
}
.TOC:nth-child(odd) {
  background-color: #ececed;
}

.pseudoHeading {
  font-size: 1.25em;
  line-height: 1.2em;
  padding: .5em 0 .25em;
}

.pseudoMenu, #sidebar .block, #sidebarUser {
  /*a {display:block;}*/
}

.label {
  font-weight: 700;
}

.separator {
  display: none;
}

.sort {
  border: 1px solid #D1D3D5;
}
.sort form {
  padding: .25em;
  margin: .25em 0;
}

.heading, #setup .pkp_controllers_grid table th, #setup .pkp_controllers_grid table tr.heading {
  font-family: Lato;
  font-size: 1.125em;
  line-height: 1.33333em;
  background-color: #dee0e1;
  padding: .25em;
}
.heading td:last-child, #setup .pkp_controllers_grid table th td:last-child, #setup .pkp_controllers_grid table tr.heading td:last-child {
  text-align: center;
}

.selectMenu {
  font-size: 0.875em;
  line-height: 1.71429em;
}

/* Navigation
============================= */
nav {
  width: 100%;
  background-color: #272822;
  overflow: auto;
  padding: .5em 0;
}

#mobileNav {
  display: none;
}

#navbar {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  display: block;
}
#navbar:after {
  content: " ";
  display: block;
  clear: both;
}

ul.navMenu {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
}
ul.navMenu li {
  border-right: 3px solid black;
  font-family: Lato, Trabuchet, sans-serif;
  font-weight: 300;
  letter-spacing: .05em;
}
ul.navMenu li:last-child {
  border: none;
}

#searchbar {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  text-align: right;
}
#searchbar form {
  margin: 0;
}
#searchbar form input {
  padding: 2px 6px;
  margin: 0;
}

#breadcrumb {
  font-size: 0.875em;
  line-height: 1.71429em;
  padding: .5em 0;
  border-bottom: 3px double #D1D3D5;
  border-top: 3px double #D1D3D5;
}

/* Header
============================= */
#header {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  min-height: 150px;
  text-align: center;
}
#header h1, #header img {
  vertical-align: middle;
  display: inline-block;
}

#headerTitle {
  padding: 1em;
}
#headerTitle figure {
  max-width: 1080px;
  margin: 1.69492%;
}
#headerTitle figure img {
  width: 100%;
  height: auto;
}

/* Sidebars 
============================= */
#sidebar {
  height: 100%;
}
#sidebar #submit-button {
  margin-bottom: 1.5em;
}
#sidebar form {
  margin: 0;
}
#sidebar .block .articleToolItem a {
  display: inline-block;
  vertical-align: top;
}
#sidebar .block h3 {
  font-weight: 400;
}

#leftSidebar {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}

#rightSidebar {
  width: 23.72881%;
  float: right;
  margin-right: 0;
}

.blockTitle, #sidebar .block h3 {
  font-family: Lato, Trabuchet, sans-serif;
  font-size: 1.25em;
  line-height: 1.2em;
  display: block;
  padding: 5px;
  background-color: #ececed;
  margin-bottom: .5em;
}

.blockSubtitle {
  font-size: 1.125em;
  line-height: 1.33333em;
  display: block;
  border-bottom: 3px double #D1D3D5;
}

#sidebarFontSize {
  display: none;
}

#sidebarRTAuthorBios .authorBio {
  padding: 1em 0;
  border-bottom: 1px solid #D1D3D5;
}

.authorBio p {
  padding: 0 0 .25em 0;
}

/* Main 
============================ */
#main {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
}
#main img {
  max-width: 600px;
  height: auto;
}

/* Announcements */
.details td {
  margin-bottom: 1.5em;
  border-bottom: 1px solid #D1D3D5;
}

/* Footer 
============================ */
#pageFooter {
  clear: both;
  text-align: center;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 1.4375em;
  background-color: #dee0e1;
}
#pageFooter #social {
  font-size: 2.25em;
  line-height: 1.33333em;
  display: inline-block;
  line-height: 1em;
}
#pageFooter #social ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
#pageFooter #social li {
  padding: 0;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
#pageFooter #social li:first-child {
  padding-left: 0;
}
#pageFooter #social li:last-child {
  padding-right: 0;
}
#pageFooter #social li.last {
  padding-right: 0;
}
#pageFooter #social li i {
  padding-right: 5px;
}

#standardFooter {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-family: Lato;
  font-weight: 400;
  font-size: .9em;
}
#standardFooter a img {
  max-width: 350px;
}

/* Search 
============================ */
#results table {
  border: 1px solid #87908F;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
#results table thead th, #results table thead tr.heading {
  border-bottom: 1px solid #87908F;
}
#results table tfoot th, #results table tfoot tr.heading, #results table tfoot td {
  border-top: 1px solid #87908F;
}
#results table th:first-child, #results table tr.heading:first-child {
  border-right: 1px solid #87908F;
}
#results table th:first-child, #results table tr.heading:first-child {
  border-right: none;
}
#results table tr:nth-child(odd) {
  border-bottom: 1px solid #D1D3D5;
}

/* Issues
============================ */
#issues .list {
  padding: 1em 0;
  /*border-bottom: none;*/
}
#issues .list .issueCoverImage {
  display: inline-block;
  max-width: 30%;
}
#issues .list .issueCoverImage img {
  width: 100%;
  border: 1px solid #D1D3D5;
}
#issues .list .issueDescriptionImage {
  padding: .5em;
  vertical-align: top;
  display: inline-block;
  max-width: 69%;
}
#issues .list h4:before {
  content: initial;
}

/* Articles 
============================ */
a.file {
  background-color: white;
  padding: 0 .5em;
}

.tocArticleGalleysPages, .tocGalleys {
  text-align: end;
  vertical-align: middle;
}

.tocPages, .tocAuthors {
  padding-top: .5em;
}

.tocCoverImage a.file {
  padding: 0;
  border: none;
}

.altmetric-embed {
  display: inline-block;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}

.right {
  float: right;
}

#articleTitle h3 {
  background-color: initial;
  margin-top: 0;
}

.article #content {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
.article #main h3 {
  background-color: initial;
  padding-left: 0;
}

.list {
  border-bottom: 1px solid #D1D3D5;
}
.list h4:before {
  content: '\00BB';
  padding-right: 5px;
}

h3.issue {
  background: none;
  padding-left: 0;
  border-bottom: 1px solid #D1D3D5;
}

#pdfDownloadLinkContainer {
  padding-bottom: .5em;
}

#pdfObject, #pdfCanvasContainer iframe {
  width: 100%;
  min-height: 700px !important;
}

/* Admin Pages  (home of the hacks)
============================ */
.sectionBlock {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}

#selectSections select {
  width: 50%;
}

table.alt-color tbody tr:nth-child(even) {
  background-color: #e6e7e8;
}

table.alt-color-odd tbody tr:nth-child(odd) {
  background-color: #e6e7e8;
}

table.info {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
table.info th, table.info tr.heading {
  text-align: center;
  font-weight: bold;
}
table.info td,
table.info th,
table.info tr.heading {
  padding: 2px;
}
table.info td.numeric,
table.info th.numeric,
table.info tr.numeric.heading {
  text-align: right;
}
table.info .tableHeading {
  font-family: Lato;
  font-size: 1.125em;
  line-height: 1.33333em;
  background-color: #dee0e1;
}
table.info a {
  display: inline-block;
}
table.info tr {
  border-bottom: 1px solid #D1D3D5;
}
table.info tr:last-child {
  border-bottom: none;
}
table.info td:first-child {
  text-align: left;
}
table.info td {
  text-align: center;
}

table.listing .heading a, #setup .pkp_controllers_grid table.listing th a, #setup .pkp_controllers_grid table.listing tr.heading a {
  color: #000;
}
table.listing tr {
  border-bottom: 1px solid #D1D3D5;
}
table.listing tr:last-child {
  border-bottom: none;
}
table.listing td {
  text-align: left;
}

table.settings {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  border: 1px solid #D1D3D5;
}
table.settings thead th, table.settings thead tr.heading {
  border-bottom: 1px solid #D1D3D5;
}
table.settings tfoot th, table.settings tfoot tr.heading, table.settings tfoot td {
  border-top: 1px solid #D1D3D5;
}
table.settings th:first-child, table.settings tr.heading:first-child {
  border-right: 1px solid #D1D3D5;
}
table.settings td.label {
  vertical-align: middle;
}

table.checklist td {
  vertical-align: middle;
}

table.email tr:nth-child(odd) {
  background-color: #e6e7e8;
}

table.listing span.instruct {
  margin: 0;
}

table.nested {
  font-size: 0.875em;
  line-height: 1.71429em;
}

table.single {
  border-top: 2px solid #D1D3D5;
  border-bottom: 2px solid #D1D3D5;
  /*	background-color: lighten($accent-bright, 50%);
  */
}

#profile table tr {
  border-bottom: 1px solid #D1D3D5;
}

#systemConfiguration h4 {
  text-transform: capitalize;
  margin-top: 1em;
  padding: .25em;
  background-color: #ececed;
}
#systemConfiguration table tr {
  border-bottom: 1px solid #D1D3D5;
}

.highlightReviewerNotNotified, .highlightCopyediting {
  background-color: #266BA8;
}
.highlightReviewerNotNotified:before, .highlightCopyediting:before {
  content: "\00b9";
  padding: 0 4px;
}

.highlightNoDecision {
  background-color: #07355E;
  color: white;
}
.highlightNoDecision:before {
  content: "\00b2";
  padding: 0 4px;
}

.highlightReviewerConfirmationOverdue {
  background-color: #FF6C3E;
}
.highlightReviewerConfirmationOverdue:before {
  content: "\2020";
  padding: 0 4px;
}

.highlightRevisedCopyUploaded, .highlightLayoutEditing {
  background-color: #1EB568;
}
.highlightRevisedCopyUploaded:before, .highlightLayoutEditing:before {
  content: "\2666";
  padding: 0 4px;
}

.highlightReviewerCompletionOverdue, .higlightProofreading {
  background-color: #006633;
  color: white;
}
.highlightReviewerCompletionOverdue:before, .higlightProofreading:before {
  content: "\25CA";
  padding: 0 4px;
}

.highlightCopyediting a,
.highlightLayoutEditing a,
.highlightNoDecision a,
.highlightReviewerCompletionOverdue a,
.highlightRevisedCopyUploaded a,
.highlightReviewerConfirmationOverdue a,
.highlightReviewerNotNotified a,
.higlightProofreading a {
  background-color: initial;
  border-color: initial;
}

#notes ul {
  padding: 0;
}
#notes ul li {
  padding: .5em;
  list-style-type: none;
}

span.instruct {
  display: block;
  margin: .5em 0;
}

#assignBlocksToSidebars {
  border: 1px solid #D1D3D5;
}
#assignBlocksToSidebars .heading, #assignBlocksToSidebars #setup .pkp_controllers_grid table th, #setup .pkp_controllers_grid table #assignBlocksToSidebars th, #assignBlocksToSidebars #setup .pkp_controllers_grid table tr.heading, #setup .pkp_controllers_grid table #assignBlocksToSidebars tr.heading {
  text-align: center;
  border: 1px solid #87908F;
}
#assignBlocksToSidebars input {
  padding: 2px 0;
}
#assignBlocksToSidebars td.centerButton {
  vertical-align: middle !important;
}

#setup .options {
  margin-top: 2em;
}
#setup .pkp_controllers_grid table {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  border: 1px solid #87908F;
}
#setup .pkp_controllers_grid table th, #setup .pkp_controllers_grid table tr.heading, #setup .pkp_controllers_grid table td {
  border-right: 1px solid #D1D3D5;
  border-bottom: 1px solid #D1D3D5;
  border-left-width: 0;
  border-top-width: 0;
}
#setup .pkp_controllers_grid table th:last-child, #setup .pkp_controllers_grid table tr.heading:last-child, #setup .pkp_controllers_grid table td:last-child {
  border-right-width: 0;
}
#setup .pkp_controllers_grid table th.last, #setup .pkp_controllers_grid table tr.last.heading, #setup .pkp_controllers_grid table td.last {
  border-right-width: 0;
}
#setup .pkp_controllers_grid table tbody tr:last-child th, #setup .pkp_controllers_grid table tbody tr:last-child tr.heading, #setup .pkp_controllers_grid table tbody tr:last-child td, #setup .pkp_controllers_grid table tfoot tr:last-child th, #setup .pkp_controllers_grid table tfoot tr:last-child tr.heading, #setup .pkp_controllers_grid table tfoot tr:last-child td {
  border-bottom-width: 0;
}
#setup .pkp_controllers_grid table tbody tr.last th, #setup .pkp_controllers_grid table tbody tr.last tr.heading, #setup .pkp_controllers_grid table tbody tr.last td, #setup .pkp_controllers_grid table tfoot tr.last th, #setup .pkp_controllers_grid table tfoot tr.last tr.heading, #setup .pkp_controllers_grid table tfoot tr.last td {
  border-bottom-width: 0;
}
#setup .pkp_controllers_grid table thead th, #setup .pkp_controllers_grid table thead tr.heading {
  border-bottom: 1px solid #87908F;
}
#setup .pkp_controllers_grid table tfoot th, #setup .pkp_controllers_grid table tfoot tr.heading, #setup .pkp_controllers_grid table tfoot td {
  border-top: 1px solid #87908F;
}
#setup .pkp_controllers_grid table th:first-child, #setup .pkp_controllers_grid table tr.heading:first-child {
  border-right: 1px solid #87908F;
}

td form {
  margin: 0;
}

.refbacks .menu {
  margin: 1em 0;
}

.endseparator {
  display: none;
}

.composite-ui {
  font-size: 0.875em;
  line-height: 1.71429em;
}
.composite-ui div.pane div.help-message {
  margin: 10px;
  padding: 0;
}
.composite-ui div.two-pane table.pane_header {
  margin-top: 0;
}

.composite-ui > .ui-tabs ul.main-tabs a {
  font-size: 1.25em;
}

.pkp_controllers_grid h3 {
  background-color: initial;
}

/* Author Submission Pages */
.steplist {
  padding: 0;
}
.steplist li {
  list-style-type: none;
}

.pseudoMenu .current, #sidebar .block .current, #sidebarUser .current {
  background-color: #D1D3D5;
}

/* Plugin Management */
#plugins a.action {
  display: inline-block;
}
#plugins a.action:before {
  content: initial;
}

.pluginList ul {
  padding: 0;
  margin: .5em 0;
}
.pluginList ul li {
  list-style-type: none;
  padding: 10px 0 5px 5px;
  border-bottom: 1px solid #D1D3D5;
}
.pluginList ul li p:before {
  content: '\00BB';
  padding-right: 5px;
}

/* PopUp Windows  */
.popup #header {
  margin: .5em 0;
  min-height: initial;
  color: white;
  text-align: right;
  font-size: 0.875em;
  line-height: 1.71429em;
}
.popup #header #headerTitle {
  padding: 0;
}
.popup #body {
  width: 100%;
  padding: 2em;
  margin-top: 0;
}
.popup #main {
  width: 100%;
}
.popup #main h3 {
  background-color: initial;
  font-weight: 400;
  padding: 0;
}
.popup table {
  margin-top: 0;
}

/* Comment Windows */
#articleComments table {
  border: 1px solid #D1D3D5;
}
#articleComments table thead th, #articleComments table thead tr.heading {
  border-bottom: 1px solid #D1D3D5;
}
#articleComments table tfoot th, #articleComments table tfoot tr.heading, #articleComments table tfoot td {
  border-top: 1px solid #D1D3D5;
}
#articleComments table th:first-child, #articleComments table tr.heading:first-child {
  border-right: 1px solid #D1D3D5;
}
#articleComments table th, #articleComments table tr.heading, #articleComments table td {
  border-right: 1px solid #D1D3D5;
  border-bottom: 1px solid #D1D3D5;
  border-left-width: 0;
  border-top-width: 0;
}
#articleComments table th:last-child, #articleComments table tr.heading:last-child, #articleComments table td:last-child {
  border-right-width: 0;
}
#articleComments table th.last, #articleComments table tr.last.heading, #articleComments table td.last {
  border-right-width: 0;
}
#articleComments table tbody tr:last-child th, #articleComments table tbody tr:last-child tr.heading, #articleComments table tbody tr:last-child td, #articleComments table tfoot tr:last-child th, #articleComments table tfoot tr:last-child tr.heading, #articleComments table tfoot tr:last-child td {
  border-bottom-width: 0;
}
#articleComments table tbody tr.last th, #articleComments table tbody tr.last tr.heading, #articleComments table tbody tr.last td, #articleComments table tfoot tr.last th, #articleComments table tfoot tr.last tr.heading, #articleComments table tfoot tr.last td {
  border-bottom-width: 0;
}
#articleComments table .commentNote {
  font-weight: 700;
}
#articleComments table .comments {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}

.commentTitle {
  font-family: Lato, Trabuchet, sans-serif;
  text-decoration: underline;
  font-size: 1.0625em;
  line-height: 1.41176em;
}

/* User */
.fancyList ul, #signinForm ul {
  padding: 0;
  margin: .5em 0;
}
.fancyList ul li, #signinForm ul li {
  list-style-type: none;
  padding: 10px 0 5px 5px;
  border-bottom: 1px solid #D1D3D5;
}
.fancyList ul li:before, #signinForm ul li:before {
  content: '\00BB';
  padding-right: 5px;
}

#interests .ui-widget-content.ui-autocomplete-input {
  width: 99%;
}

.tagit-close .ui-icon.ui-icon-close {
  display: none;
}

/* Mobile 
============================ */
@media screen and (max-width: 1060px) {
  /* Changes:
  - Collapse Top Menu
  */
  #fullNav {
    display: none;
  }

  #mobileNav {
    display: block;
    /*
    Top black bar that holds the toggle button
    */
  }
  #mobileNav .navicon {
    display: none;
  }
  #mobileNav a.navicon {
    display: inline-block;
    float: left;
    height: 20px;
    width: 34px;
    margin: 5px 30px;
    border-top: 12px double #FFF;
    border-bottom: 4px solid #FFF;
    font-size: 0;
    text-align: right;
  }
  #mobileNav .menu {
    display: none;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  #mobileNav .menu li {
    clear: both;
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #87908F;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 2px 0;
    padding: 6px 0 6px 8px;
  }
  #mobileNav .menu li:last-child {
    border: none;
  }
  #mobileNav .menu li a {
    display: block;
    color: white;
  }
  #mobileNav .menu li a:visited {
    color: white;
  }
  #mobileNav .menu li a:focus {
    color: #1EB568;
  }
  #mobileNav .menu li a:hover {
    color: #1EB568;
  }
  #mobileNav .menu li a:active {
    color: #266BA8;
  }
  #mobileNav .menu li #searchbar {
    display: block;
    width: 100%;
    float: left;
    text-align: center;
  }

  #header {
    margin-top: 50px;
  }

  #body {
    padding: 0 4%;
  }

  #main img {
    max-width: 350px;
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  /* Changes for Mobile:
  - Collapse sidebar using javascript
  - Main div spans full width
  */
  #main {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
  }

  #main img {
    max-width: 250px;
    height: auto;
  }

  #sidebar {
    display: none;
  }

  #pdfObject, #pdfCanvasContainer iframe {
    min-height: 400px !important;
  }

  #standardFooter a img {
    max-width: 250px;
  }

  #issues .list .issueCoverImage, #issues .list .issueDescriptionImage {
    max-width: 100%;
  }
}
