/* line 5, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*  Colors
================== */
/* 

Structure 
============
-- General HTML Elements
---- Headings
---- Links
---- Form Elements
-- Global Classes
-- Navigation
-- Header
-- Sidebars
-- Main
-- Footer
-- Issues
-- Articles

*/
/* General HTML Elements 
============================= */
/* apply a natural box layout model to all elements, but allowing components to change */
/* line 31, sass/screen.scss */
html {
  box-sizing: border-box;
}

/* line 34, sass/screen.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 38, sass/screen.scss */
body {
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  background-color: #D1D3D5;
}

/* line 44, sass/screen.scss */
#header, #body {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 0 5%;
  background-clip: content-box;
  background-color: white;
}

/* Skip to Content 
from http://codepen.io/joe-watkins/pen/rjhiK
*/
/* line 55, sass/screen.scss */
#skip-to-content {
  padding: 1em;
  position: absolute;
  top: -40px;
  left: 1em;
  z-index: 1000;
  color: white;
}

/* line 64, sass/screen.scss */
#skip-to-content:focus {
  position: absolute;
  top: 0;
  background: #4593ff;
}

/* Headings */
/* line 72, sass/screen.scss */
h1 {
  font-family: "Droid Serif", serif;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 2em;
}

/* line 78, sass/screen.scss */
h2, h3, h4, h5, h6 {
  font-family: Lato, Trebuchet, sans-serif;
  line-height: 1.8em;
}

/* line 82, sass/screen.scss */
h2 {
  font-size: 2em;
  font-weight: 700;
}

/* line 86, sass/screen.scss */
h3 {
  font-size: 1.75em;
  font-weight: 700;
}

/* line 90, sass/screen.scss */
h4 {
  font-size: 1.75em;
  font-weight: 400;
}

/* Links */
/* Forms */
/* Navigation
============================= */
/* line 104, sass/screen.scss */
#navbar {
  width: 100%;
  background-color: #616968;
  overflow: auto;
  padding: .5em 0;
}

/* line 111, sass/screen.scss */
ul.menu {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 0 5%;
}
/* line 114, sass/screen.scss */
ul.menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 49, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.menu li:first-child {
  padding-left: 0;
}
/* line 50, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.menu li:last-child {
  padding-right: 0;
}
/* line 52, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.menu li.last {
  padding-right: 0;
}
/* line 117, sass/screen.scss */
ul.menu li a {
  color: white;
  text-decoration: none;
}
/* line 4, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_hover-link.scss */
ul.menu li a:hover, ul.menu li a:focus {
  text-decoration: underline;
}

/* Header
============================= */
/* Sidebars 
============================= */
/* line 134, sass/screen.scss */
#leftSidebar {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}

/* line 137, sass/screen.scss */
#rightSidebar {
  width: 23.72881%;
  float: right;
  margin-right: 0;
}

/* Main 
============================ */
/* line 144, sass/screen.scss */
#main {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
}

/* Footer 
============================ */
/* Issues
============================ */
/* Articles 
============================ */
