$susy: (
  columns: 12,  // The number of columns in your grid
  gutters: 1/4, // The size of a gutter in relation to a single column
);


/*  Colors
================== */

$primary: #006633;
$accent_bold: #42517F;
$accent_light: #C06816; 

$grey_bold: #87908F;
$grey_light: #D1D3D5;

$background: #E4E6D7;