@import "compass/reset";
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/links";
@import "susy";
@import "base";

/* 

Structure 
============
-- General HTML Elements
---- Headings
---- Links
---- Form Elements
-- Global Classes
-- Navigation
-- Header
-- Sidebars
-- Main
-- Footer
-- Issues
-- Articles

*/

/* General HTML Elements 
============================= */

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: "PT Sans", Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.4em;
	background-color: $grey-light;
}
#header, #body {
	@include span(12);
	padding: 0 5%;
	background-clip: content-box;
	background-color: white;
}

/* Skip to Content 
from http://codepen.io/joe-watkins/pen/rjhiK
*/

#skip-to-content {
  padding: 1em;
  position: absolute;
  top: -40px;
  left: 1em;
  z-index: 1000;
  color: white;
}

#skip-to-content:focus {
  position: absolute;
  top: 0;
  background: #4593ff;
}

/* Headings */

#{headings(1)} {
	font-family: "Droid Serif", serif;
	font-weight: 700;
	font-size: 2.5em;
	line-height: 2em;
}
#{headings(2,6)} {
	font-family: Lato, Trebuchet, sans-serif;
	line-height: 1.8em;
}
h2 {
	font-size: 2em;
	font-weight: 700;
}
h3 {
	font-size: 1.75em;
	font-weight: 700;
}
h4 {
	font-size: 1.75em;
	font-weight: 400;
}

/* Links */


/* Forms */


/* Navigation
============================= */

#navbar {
	width: 100%;
	background-color: darken($grey-bold, 15%);
	overflow: auto;
	padding: .5em 0;
}

ul.menu {
	@include horizontal-list-container;

	li {
		@include horizontal-list-item(1em, left);

		a {
			@include link-colors(white);
			@include hover-link;
		}
	}

	@include span(12);
	padding: 0 5%;
}

/* Header
============================= */


/* Sidebars 
============================= */

#leftSidebar {
	@include span(first 3);
}
#rightSidebar {
	@include span(last 3);
}

/* Main 
============================ */

#main {
	@include span(9 of 12);
}

/* Footer 
============================ */

/* Issues
============================ */


/* Articles 
============================ */