@import "base";

@viewport {
  width: device-width;
}
/* 

Structure 
============
-- General HTML Elements
---- Headings
---- Links
---- Form Elements
-- Global Classes
-- Navigation
-- Header
-- Sidebars
-- Main
-- Footer
-- Issues
-- Articles

*/

/* General HTML Elements 
============================= */

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  @include establish-baseline;
  box-sizing: content-box;

}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: "PT Sans", Helvetica, sans-serif;
	font-size: $base-font-size;
	line-height: $base-line-height;
	figure {
		display: inline-block;
	}
}

em {
	font-style: italic;
}

strong {
	font-weight: 700;
}

blockquote{
	padding: 1em 1em 1em 2em;
}

ul {
	padding-left: 1em;
	list-style-type: disc;
}
ol {
	list-style-type: decimal;
	list-style-position: inside;
}
#container {
	background-color: white;
}
#body{
	overflow: auto;
	@include container;
	@include rhythm();

	p {
		padding: .5em 0;
	}
}

/* Skip to Content 
from http://codepen.io/joe-watkins/pen/rjhiK
*/

#skip-to-content {
  padding: 1em;
  position: absolute;
  top: -40px;
  left: 1em;
  z-index: 1000;
  color: white;
}

#skip-to-content:focus {
  position: absolute;
  top: 0;
  background: #4593ff;
}

/* Headings */

#{headings(1,6)} {
	font-family: Lato, Trabuchet, sans-serif;
}
#{headings(1)} {
	font-weight: 700;
	@include adjust-font-size-to(42px);
}
#{headings(2,6)} {
	font-family: Lato, Trebuchet, sans-serif;
	line-height: 1.8em;
}
h2 {
	font-size: 2em;
	font-weight: 700;
	padding: .5em 0;
}
h3 {
	font-size: 1.75em;
	font-weight: 700;
}
h4 {
	font-size: 1.5em;
	font-weight: 400;
}

/* Links */

a {
	@include link-colors($primary, $accent_bold, lighten($accent_bold, 10%), darken($primary, 5%), $accent_bold);
	@include hover-link;
}


/* Forms */
input, select, textarea {
 	@extend .roundedborder;
 	font: "PT Sans", Helvetica, sans-serif;
 	@include adjust-font-size-to(14px);
 	// padding: 2px;
 }

 .label {
 	width: auto;
 }

form {
	@include rhythm();
}
input {
	padding: 3px;
}
select {
	@include adjust-font-size-to(17px);
}

/* Tables */
table {
	//@include outer-table-borders(1px, $grey_light);
	//@include inner-table-borders(1px, $grey_light);
	// @include alternating-rows-and-columns( lighten($grey_light, 20%), lighten($grey_light, 10%), #000000);
	width: 100%;

	tr {
		margin: .5em 0;
	}

	td {
		padding: .5em .25em;
		vertical-align: top;
	}

}

/* Global Classes 
============================= */
.menu {
	margin: 0;
	padding: 0;

	@include horizontal-list-container;
	li {
		@include horizontal-list-item(1em, left);
		border-right: 2px solid $grey_light;

		&:last-child {
			border-right: none;
		}
	}
}
.callout {
	@include adjust-font-size-to(18px);
	font-weight: 700;
}

.block {
	@include rhythm();
	height: 100%;
}

.action, 
	.toggleExtras-inactive,
	.toggleExtras-active {
	@extend .button;

}
.largeButton {
	padding: 1em;
	background-color: $primary;
	a {color: white !important;}
}
.headseparator {
	display:none;
}

.articleTOC{
	border: 1px solid $grey_light;
	&:nth-child(even) {
		background-color: lighten($grey_light, 10%);
	}
}
.pseudoHeading {
	@extend h4;
}
.label {
	font-weight: 700;
}

/* Navigation
============================= */
nav {
	width: 100%;
	background-color: #272822;
	overflow: auto;
	padding: .5em 0;
}
#mobileNav {
	display: none;
}
#navbar {
	@include container;
	#sidebar-open-btn {
		display: none;
	}
	display: block;
}
ul.navMenu {
	@include span(9);

	li {
		border-right: 3px solid black;
		&:last-child {
			border: none;
		}
		a {
			@include link-colors(white, $accent_light, darken($accent_light, 10%), white, $accent_light	);
			@include hover-link;
			font-family: Lato, sans-serif;
			font-weight: 300;
			letter-spacing: .05em;
		}
	}
}

#searchbar {
	@include span (3 last);
	text-align: right;
	form {
		margin: 0;
		input {
			padding: 2px 6px;
			margin: 0;
		}
	}
}

#breadcrumb {
	@include adjust-font-size-to(14px);
	padding: .5em 0;
	border-bottom: 3px double $grey_light;
	border-top: 3px double $grey_light;
}

/* Header
============================= */
#header {
	min-height: 200px;
	text-align: center;
	h1, img {
		vertical-align: middle;
		display: inline-block;
	}
}
#headerTitle {
	@include rhythm();
	figure {
		max-width: 1080px;
		margin: gutter();
		img {
			width: 100%;
			height: auto;
		}
	}
}

/* Sidebars 
============================= */
#sidebar {
	@include span(3 last);
	overflow: auto;
	height: 100%;

	#submit {
		@include trailer();
	}
}

#leftSidebar {
	width: 100%;
	float: left;
	margin-right: gutter();
}
#rightSidebar {
	width: 100%;
	float: right;
	margin-left: gutter();
}

.blockTitle {
	display: block;
	@extend h4;
}
/* Main 
============================ */

#main {
	@include span(8);
	padding-right: 1em;

	img {
		max-width: 600px;
		height: auto;
	}
}

/* Footer 
============================ */

#pageFooter {
	clear: both;
	text-align: center;
	@include leading-border;
	background-color: lighten($grey_light, 5%);

	#social {
		@include adjust-font-size-to(36px);
		display: inline-block;
		line-height: 1em;
		ul {
			@include horizontal-list-container;
		}

		li {
			padding: 0;
			@include horizontal-list-item;

			i {
				padding-right: 5px;
			}
		}
	}
}
#standardFooter {
	@include rhythm-padding();
	font-family: Lato;
	font-weight: 400;
	font-size: .9em;
	a img {
		max-width: 350px;
	}
}

/* Search 
============================ */
#results table {
	@include inner-table-borders(1px, $grey_light);
	@include outer-table-borders(1px, $grey_bold);
	@include rhythm();
}

/* Issues
============================ */
.tocTitle {
	@extend h4;
}

/* Articles 
============================ */

a.file {
	@extend .button;
}

/* Admin Pages 
============================ */
.sectionBlock {
	@include rhythm();
}

table.info {
	@include rhythm();
	@include table-scaffolding;
	.tableHeading {
		font-family: Lato;
		@include adjust-font-size-to(18px);
		background-color: lighten($grey_light, 5%);
	}
	a {
		display: inline-block;
	}
	tr {
		border-bottom: 1px solid $grey_light;
	
		&:last-child {
			border-bottom: none;
		}
	}
	td:first-child {
		text-align:left;
	}
	td {
		text-align: center;
	}
}

table.listing {
	@extend table.info;

	.heading {
		line-height: 2em
	}
	tr:nth-child(even){
		background-color: lighten($grey_light, 10%);
	}
	td { text-align: left;}
}
.pseudoMenu {
	@extend .adminMenu;
}

.heading {
	font-family: Lato;
	@include adjust-font-size-to(18px);
	background-color: lighten($grey_light, 5%);
}
span.instruct {
	display: block;
	margin: .5em 0;
}

#assignBlocksToSidebars {
	border: 1px solid $grey_light;

	.heading {
		text-align: center;
		border: 1px solid $grey_bold;
	}
	input {
		padding: 2px 0;
	}

	td.centerButton {
		vertical-align: middle !important;
	}
}
/* Mobile 
============================ */

@media screen and (max-width: 1060px) {
	@import "screen_max1060";
}
@media screen and (max-width: 600px) {
	@import "screen_max600";
}